html
  head
    title Greeting Example

  body
    h1 HEADER PARSER

    
    script.
      var jsonData = !{JSON.stringify(data)};

    p Software: #{data.software}
    p Language: #{data.language}
    p IP Address: #{data.ipaddress}

    script.
      console.log(jsonData);
